/* CSS STYLES FOR GOOGLE HOMEPAGE */

#header {
  position: absolute;
  right: 0px;
  padding: 10px;
}

#header a {
  margin: 10px;
  font-size: 14px;
  color: #5d5654;
  text-decoration: none;
}

#header a:hover {
  color: red;
}

#banner {
  position: absolute;
  top: 30%;
  left: 40%;
}

#banner img {
  height: 100px;
  width: 100%
}
